.banner-container{
    background-color: #cacaca;
}
.banner-column{
    background-color: #8C8B8C;
}
.h4{
    padding: 5px;
}
.navbar-container{
    top: 0;
    background-color: #272B39;
    position: sticky;
    z-index: 2;
}
.about-container{
    background-color: #00A0B6;
}
.education-container{
    background-color: #EEEDEF;
}
.bg-redtype{
    background-color: #F2897A;
}
.bg-redtype:hover{
    color: black!important;
}
.redtype-color{
    color: #F2897A;
}
.circle{
    background-color: #F2897A;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: #21A7E5;
}
.gallery-container{
    background-color: #17848b;
}
.bg-skytype{
    color: #1cc9e0;
}
.form-container{
    background-color: #474C5E;
}
.hy{
    padding-left: 9%;
}
.by{
    padding-right: 9%;
}
.inner-form{
    background-color: #575F78;
}